*{
    margin: 0;
    padding: 0;

}
body{
    background-color: black;
}
.main{opacity: 0.44;
    background-image: url("assets/bg.jpg");
height: 50vh;
position: relative;
z-index: 0;
}

nav{
    position: relative;
    z-index: 10;
}
nav img{ position: relative;
    z-index: 10;}